html, body{
    background-color: black;
    user-select: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*.snowflake{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%)
}*/

.rotator{
    animation: rotate linear infinite 50s;
}

.snowflake{
    cursor: pointer;
    transition: transform 0.5s;
}

.snowflake:hover{
    transform: scale(1.1);
}

.maingame{
    width: 68%;
    text-align: center;
    position: absolute;
    left: 34%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ascendb{
    z-index: 5;
    background-color: rgb(117, 117, 0);
    border:3px solid gold;
    -webkit-box-shadow:0px 0px 100px 20px gold;
    -moz-box-shadow: 0px 0px 100px 20px gold;
    box-shadow: 0px 0px 100px 20px gold;
    width: 50%;
    border-radius: 5px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.1s;
    cursor: pointer;
}

.ascendb:hover{
    background-color: rgb(243, 243, 0);
}

.upgrades{
    overflow-y: scroll;
    padding-left: 2%;
    height: 100%;
    border-left: 5px solid white;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}

.upgrades h1{
    font-size: 50px;
}

.upgrades .upgrade{
    cursor: pointer;
    border: 5px solid white;
    border-radius: 10px;
    padding-left: 5%;
    margin-right: 5%;
    position: relative;
    margin-bottom: 5%;
    transition: transform 0.3s;
}

.snowflakeupg{
    background: linear-gradient(90deg,rgba(15, 15, 15, 1) 0%, rgba(41, 41, 41, 1) 100%);
}

.snowballupg{
    background: linear-gradient(90deg,rgb(22, 24, 0) 0%, rgb(83, 81, 77) 100%);
}

.sfamount{
    margin-top: 0;
}
.sbamount{
    color: yellow;
    margin: 0;
}

.upgrade:hover{
    transform: scale(1.05);
}

.upgcost{
    position: absolute;
    top: 0;
    right: 5%;
}

.upgtitle{
    position: relative;
    left: -10px;
}

.settings{
    cursor: pointer;
    position: absolute;
}

.settings:hover{
    animation: rotate 1.5s;
}

.settingsmenu{
    background-color: rgba(10, 10, 10, 0.9);
    border: 5px solid grey;
    padding: 2%;
    position: absolute;
    left: 8%;
    top: 8%;
    width: 80%;
    height: 80%
}

.curupg{
    background-color: rgba(10, 10, 10, 0.9);
    border: 5px solid grey;
    padding: 2%;
    position: absolute;
    left: 8%;
    top: 8%;
    width: 80%;
    height: 80%;
    overflow-y: auto;
}

.curupg .upgrade{
    border: 5px solid white;
    border-radius: 10px;
    padding-left: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    margin-bottom: 1%;
    transition: transform 0.3s;
}

.saved{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.saved h4{
    padding: 4px;
    border: 2px solid green;
    border-radius: 5px;
    margin: 0;
    margin-top: 2px;
}

.fadeout{
    animation: 2s fadeout forwards;
}

.saveb{
    width: 65px;
    border-width: 2px;
    border-style: solid;
    border-image: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgb(212, 212, 252) 100%) 1;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 125px;
    transition: transform 0.5s;
}

.saveb:hover{
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.2);
}

.topbar{
    display: flex;
    align-items: center;
}

.boughtupgmenu{
    position: relative;
    left: 20px;
    height: 20px;
}

.achs{
    top: 170px;
    cursor: pointer;
    position: absolute;
}

.achievements{
    background-color: rgba(10, 10, 10, 0.9);
    border: 5px solid grey;
    padding: 2%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 8%;
    top: 8%;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    justify-content: center;
}

.achievements .achievement{
    height: 100px;
    margin-right: 20px;
    width: 100px;
    border: 4px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.achievement .achievementname{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: inline-block;
    top: 0;
    text-overflow: ellipsis;
    margin: 0;
}

.achievement .achdesc{
    position: absolute;
    top: -10px;
    visibility: hidden;
    background-color: #22222279;
    color: yellow;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 9999;
    width: 250px;
    pointer-events: none;
}

.achievement:hover .achdesc{
    visibility: visible;
}

.hidden{
    display: none;
}

@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}